body {
    color: #ccc;
    font-family: sans-serif;
    background-color: #000000;
    margin: 0;
}

/** Navigation bar **/
header {
    height: 3em;
    background-color: #212121;
}

header ul {
    margin: 0 0.5em;
    padding: 0 0 0 2em;
}

header ul li {
    list-style-type: none;
    display: inline-block;
    color: #B7B7B7;
    margin-right: 1em;
    padding: 1em;
    cursor: pointer;
}

header ul li:hover, li.nav-active {
    background-color: #333333;
    color: #fff;
}

#tools {
    float: right
}

#views {
    float: left;
}

/** Settings menu **/
#settings {
    position: absolute;
    top: 3em;
    right: 0;
    background-color: #212121;
    color: #aaa;
    z-index: 10;
    padding: 0.25em 1em;
    display: none;
}

#settings select, #settings label {
    font-size: 0.75em;
}

/** Zoom controls **/

#zoom {
    position: absolute;
    top: 7em;
    right: 0.5em;
    width: 20px;
    font-size: 9pt;
}

#zoom-slider {
    height: 300px;
    opacity: 0.7;
    font-size: 75%;
}

#zoom > a {
    text-decoration: none;
    font-size: 12pt;
    color: #ccc;
}

/** Animation control panel **/

#controls {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    font-size: 9pt;
    background-color: #333;
    padding: 1px;
    border-bottom: 1px solid #2A2A2A;
    border-radius: 2px;
}

.button-highlight {
    box-shadow: 0 0 2px 2px #fff;
}

#controls button {
    min-width: 6em;
    opacity: 0.6;
    background-color: #000;
    font-size: 10pt;
    color: #ddd;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #333;
    padding: 0.5em 1em;
    float: left;
    cursor: pointer;
}

#controls button:hover {
    color: #fff;
    opacity: 0.8;
}

#controls button:disabled {
    opacity: 0.3;
    cursor: default;
}

#speed {
    float: left;
    padding: 2pt 0 0 2pt;
    opacity: 0.6;
    color: #ddd;
}

#speed > div > a {
    color: #ccc;
    font-size: 10pt;
    text-decoration: none;
    padding: 2pt;
}

#speed-slider {
    font-size: 25%;
    width: 150px;
    display: inline-block;
}

/** Canvases **/
#canvas-minkowski {
    display: none;
}

#canvas-3d {
    display: none;
}

/** Demo chooser **/

#demo-chooser {
    position: absolute;
    opacity: 0.8;
    background-color: #333;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    top: 6em;
    padding: 1em;
}

#demo-chooser h4 {
    margin-bottom: 0;
}

#demo-chooser ul {
    margin: 0;
}

#demo-chooser li {
    text-decoration: underline;
    cursor: pointer;
}

#demo-chooser h3 {
    margin: 0;
}

/** Help **/

#help-screen {
    position: absolute;
    opacity: 0.8;
    background-color: #333;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    top: 6em;
    padding: 1em;
}

#help-screen a {
    color: #fff;
}

#help-screen dt, #help-screen dd {
    display: inline;
}

#help-screen dt {
    font-weight: bold;
    margin: 0.5em 0;
}

#help-screen dd {
    margin-left: 0.5em;
}

#help-screen .close {
    position: absolute;
    top: 1em;
    right: 1em;
}

#help-screen h3 {
    margin: 0 0 1em;
}

/** Captions **/

#caption {
    background-color: #333;
    border-radius: 4px;
    padding: 1em;
    float: left;
    margin: 0 1em 1em 0;
}
